

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

td {
  padding: 5px;
}

.jumbotron {
  text-align:center;
  font-size:14px;
}

.page-header h1 {
  font-size: 60px;
}

.group-btns {
  margin-top:10px;
}

.timer-group {
  width:980px;
  padding-bottom:20px;
  margin: 0 auto;
  margin-top:10px;
  border-top:1px solid black;
  border-bottom:1px solid black;
}

.timer-row {
  margin: 0 5px;
}

.hours-field, .mins-field, .secs-field {
  display:inline;
  width:75px;
}

.sfx-cell {
  display:none;
}

.timer-name-div, .timer-hours-div, .timer-mins-div, .timer-secs-div {
  border: 1px solid transparent;
  border-radius:4px;
}
.timer-name-cell {
  word-wrap:break-word;
}

.timer-hours-div, .timer-mins-div, .timer-secs-div {
  display:inline;
}

.name-field {
  margin:0 auto;
  width:165px;
}

.table {
  table-layout:fixed;
  width:980px;
  margin: 0 auto;
}

.timer {
  font-size:28px;
  width:170px;
}

.trigger-opts-timer, .trigger-type-timer {
  width:120px;
}

.timer-btns {
  width:250px;
}

.cell-div {
  padding: 5px 10px;
}

.auto-reset-cell {
  width:100px;
}

.popup {
  overflow:hidden;
  position:absolute;
  display:none;
  z-index:1002;
  height:100px;
  border: 1px solid black;
  border-radius:4px;
  background-color: white;
}

.timer-popup {
  width:250px;
}

.name-popup {
  width:180px;
}

div.timer-fields {
  margin: 10px 0 10px 7px;
}

.name-popup .name-field {
  margin: 10px 0 10px 6px;
}

.confirm-timer-edit {
  margin-left:70px;
}

.confirm-name-edit {
  margin-left:28px;
}